.aprovados{

    margin-left: 18%;
    margin-right: 3%;
    margin-top: 1%;

    padding-top: 3%;
    padding-bottom: 1%;

    background-color: white;

    border-radius: 10px;
    border-left:blue 2px solid;

}

.linha2{

    background-color:black;
    width: 98%;

    margin: 0 auto;

    padding-top: 2%;
    padding-bottom: 2%;
    
}

.contorno{
    border-radius: 1px black solid;
}

.tituTabela{

    color: rgb(217, 228, 122);
    
    padding-left: 11%;
    padding-right: 11%;


}

.nomeTabela{
    
    color: black;
    
    padding-left: 11%;
    padding-right: 11%;


}
