.cadastro{

    margin-left: 18%;
    margin-right: 3%;
    margin-top: 1%;

    padding-top: 3%;

    background-color: white;

    border-radius: 10px;
    border-left: green 2px solid;

}

.tituloCad{

    font-size:16px;

    color: black;

    margin-left: 1.5%;

    padding-top: 3%;

}

.orientacao{

    font-size: 14px;

    color:rgb(75, 97, 75);

    margin-left: 1.5%;
    margin-top: 1.5%;

    padding-top:2%;

}

.btnSalvar{

    background-color:green;
    color: white;
    
    font-size:12px;

    height: 23px;
    margin: 10px 5px 10px;

    border-radius: 15px;
    border-color: black;
    
    
    
    text-align: center;
    width: 28%;

}

#btnSave:hover{

    background-color:purple;
    color: white;
    
    font-size:12px;

    height: 23px;
    margin: 10px 5px 10px;

    border-radius: 15px;
    border-color: black;
    
    
    
    text-align: center;
    width: 28%;
}

.btnConfig{
    
    border: none;

    margin-left: 60%;
    
    font-size: 20px;

    
}

input{

    border: none;
    border-bottom: 1px solid rgba(75, 97, 75, 0.35) ;

    display: block;
    
    margin-left: 2%;
    margin-right: 55%;
    margin-top:5%;

    width: 40%;
    height: 15px;

    font-size:16px;
    
    outline: none;

}

label{
    
    color:darkgray;
    font-size:12px;
}



div .single-input{

    position:relative;
}

div .single-input label{

    position:absolute;
    bottom:0;
    left: 2%;
    
    cursor: text;
    
}

input:focus,
input:valid{

    

    border: none;
    border-bottom: 2px solid rgba(75, 97, 75, 0.35) ;
}

div .single-input input:focus ~ label,
div .single-input input:valid ~ label{

    color:rgb(85, 78, 78);    
    
    margin-left: 0%;
    margin-right: 55%;
    margin-top:5%;

    width: 40%;
    height: 10px;

    font-size:12px;
    
    outline: none;

    transform: translateY(-20px)

}



.castrando{

    border: none;
    border-bottom: 10px white;
    
    margin-left: 2%;
    margin-right: 55%;
    margin-top:5%;

    width: 40%;
    height: 10px;

    font-size:16px;

}


