.visor{

    margin-top:15%;
    margin-left: 44%;
    margin-right: 25%;

    font-size: 26px;
    
    color:rgb(255, 255, 255);

}

.botao{

    background-color:green;
    color: white;
    
    font-size:16px;

    height: 43px;
    margin: 10px 5px 10px;

    border-radius: 15px;
    border-top: black;
    border-left: black;
    
    
    
    text-align: center;
    width: 13%;
    

}

.linha{

    width: 100%;
    margin: 0 auto;
    margin-top: -60px;
    margin-left: 70px;
    text-align: center;

}

